/* QWidget */
QWidget {
    color: #e9e9e9;
    background-color: #333333;
}
#disconnected QLabel, #disconnected QPushButton {
    color: #888888;
}
#connected QLabel, #connected QPushButton {
    color: #e9e9e9;
}
/* QLabel with ID 'label' */
QLabel#label {
    background-color: #444444;
    font-weight: bold;
}
/* QLabel with ID 'value-label' */
QLabel#value-label {
    background-color: #444444;
    font-weight: bold;
    font-size: 16px;
}
/* QPushButton with ID 'button' */
QPushButton#button {
    background-color: #444444;
    font-weight: bold;
    border: none;
    padding: 5px;
}
/* QPushButton with ID 'button' on hover */
QPushButton#button:hover {
    color: #ffffff;
}
QComboBox#combo_box {
    color: #e9e9e9;
    background-color: #444444;
}
QComboBox#combo_box QListView {
    color: #e9e9e9;
    background-color: #444444;
}
/* QTabWidget */
QTabWidget {
    font-size: 18px;
}
QTabWidget::pane {
    border: 0px;
}
QTabBar::tab {
    background-color: #444444;
    color: #888888;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
QTabBar::tab:hover {
    color: #e9e9e9;
}
QTabBar::tab:selected {
    background-color: #333333;
    color: #e9e9e9;
    border-bottom: 0px;
}
/* spin boxes */
#spin_box, #double_spin_box {
    color: #000000;
    background-color: #ffffff;
    font-size: 24px;
}
/* line edit and text edit */
#line_edit, #text_edit {
    color: #000000;
    background-color: #ffffff;
}
/* QPushButton with ID 'button_widget' */
#button_widget {
    background-color: gray;
    font-weight: bold;
    border: none;
    padding: 5px;
}
#button_widget:hover {
    color: #ffffff;
}
#button_widget:pressed {
    border: 5px solid #e9e9e9;
}

/* parameter tree */
QTreeView, QTreeView * {
    color: #000000;
    background-color: #d8d8d8;
    alternate-background-color: #d8d8d8;
}
QTreeView::item:selected, QTreeView::item:hover {
    color: #000000;
    background-color: #d8d8d8;
}
QTreeView QLineEdit, QTreeView QLabel {
    color: #000000;
    background-color: #ffffff;
    border-top: 3px solid #d8d8d8;
    border-bottom: 3px solid #d8d8d8;
}
QTreeView QPushButton, QTreeView QTextEdit, QTreeView QComboBox {
    color: #000000;
    background-color: #ffffff;
}